- name: Ensure app_user is defined
  assert:
    that:
      - app_user is defined
    fail_msg: "app_user is not defined for this host"

- name: Create user
  user:
    name: "{{ app_user }}"
    password: "{{ user_password }}"
    shell: /bin/bash
    create_home: yes

- name: Add SSH key for SSH user
  authorized_key:
    user: "{{ ansible_user }}"
    key: "{{ lookup('file', ansible_ssh_private_key_file + '.pub') }}"

