networks:
  ansible-net:
    driver: bridge

services:

  # --------------------------------------------------------------------------
  # Ansible Control Node
  # --------------------------------------------------------------------------
  ansible-master:
    build:
      context: .
      dockerfile: docker/ansible-master/Dockerfile
    container_name: ansible-master
    hostname: ansible-master
    tty: true
    stdin_open: true
    volumes:
      - ./:/lab
      - ansible_ssh:/root/.ssh
    networks:
      - ansible-net
    depends_on:
      - dev-node
      - sit-node
      - uat-node
      - prod-node

  # --------------------------------------------------------------------------
  # DEV Node
  # --------------------------------------------------------------------------
  dev-node:
    build:
      context: .
      dockerfile: docker/nodes/Dockerfile
    container_name: dev-node
    hostname: dev-node
    networks:
      - ansible-net
    expose:
      - "22"
      - "8081"

  # --------------------------------------------------------------------------
  # SIT Node
  # --------------------------------------------------------------------------
  sit-node:
    build:
      context: .
      dockerfile: docker/nodes/Dockerfile
    container_name: sit-node
    hostname: sit-node
    networks:
      - ansible-net
    expose:
      - "22"
      - "8082"

  # --------------------------------------------------------------------------
  # UAT Node
  # --------------------------------------------------------------------------
  uat-node:
    build:
      context: .
      dockerfile: docker/nodes/Dockerfile
    container_name: uat-node
    hostname: uat-node
    networks:
      - ansible-net
    expose:
      - "22"
      - "8083"

  # --------------------------------------------------------------------------
  # PROD Node
  # --------------------------------------------------------------------------
  prod-node:
    build:
      context: .
      dockerfile: docker/nodes/Dockerfile
    container_name: prod-node
    hostname: prod-node
    networks:
      - ansible-net
    expose:
      - "22"
      - "8080"

    # ------------------------------------------------------------------------
    # OPTIONAL (Advanced):
    # Enable ONLY if you want to experiment with dockerd inside container
    # Requires docker_try_start_daemon=true in Ansible
    # ------------------------------------------------------------------------
    # privileged: true
    # volumes:
    #   - /var/lib/docker
    #   - /sys/fs/cgroup:/sys/fs/cgroup:rw

# --------------------------------------------------------------------------
# Volumes
# --------------------------------------------------------------------------
volumes:
  ansible_ssh:
