networks:
  ansible-net:
    driver: bridge

services:

  # --------------------------------------------------------------------------
  # Ansible Control Node
  # --------------------------------------------------------------------------
  ansible-master:
    build:
      context: .
      dockerfile: docker/ansible-master/Dockerfile
    container_name: ansible-master
    hostname: ansible-master
    tty: true
    stdin_open: true
    volumes:
      - ./:/lab
      - ansible_ssh:/home/ansible/.ssh
    networks:
      - ansible-net
    depends_on:
      - dev-node
      - sit-node
      - uat-node
      - prod-node

  # --------------------------------------------------------------------------
  # DEV Node
  # --------------------------------------------------------------------------
  dev-node:
    build:
      context: .
      dockerfile: docker/nodes/Dockerfile
      args:
        NODE_USER: devuser
        NODE_PASSWORD: ${DEV_NODE_PASSWORD}
    container_name: dev-node
    hostname: dev-node
    networks:
      - ansible-net
    expose:
      - "22"
      - "8081"

  # --------------------------------------------------------------------------
  # SIT Node
  # --------------------------------------------------------------------------
  sit-node:
    build:
      context: .
      dockerfile: docker/nodes/Dockerfile
      args:
        NODE_USER: situser
        NODE_PASSWORD: ${SIT_NODE_PASSWORD}
    container_name: sit-node
    hostname: sit-node
    networks:
      - ansible-net
    expose:
      - "22"
      - "8082"

  # --------------------------------------------------------------------------
  # UAT Node
  # --------------------------------------------------------------------------
  uat-node:
    build:
      context: .
      dockerfile: docker/nodes/Dockerfile
      args:
        NODE_USER: uatuser
        NODE_PASSWORD: ${UAT_NODE_PASSWORD}
    container_name: uat-node
    hostname: uat-node
    networks:
      - ansible-net
    expose:
      - "22"
      - "8083"

  # --------------------------------------------------------------------------
  # PROD Node
  # --------------------------------------------------------------------------
  prod-node:
    build:
      context: .
      dockerfile: docker/nodes/Dockerfile
      args:
        NODE_USER: produser
        NODE_PASSWORD: ${PROD_NODE_PASSWORD}
    container_name: prod-node
    hostname: prod-node
    networks:
      - ansible-net
    expose:
      - "22"
      - "8080"

# --------------------------------------------------------------------------
# Volumes
# --------------------------------------------------------------------------
volumes:
  ansible_ssh:
