- name: Install Docker prerequisites
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    update_cache: yes

- name: Install Docker
  apt:
    name: docker.io
    state: present

- name: Add user to docker group
  user:
    name: "{{ app_user }}"
    groups: docker
    append: yes
